body{
    height: 100vh;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header{
    height: 150px;
    background-color: aquamarine;
}

#bookDisp{
    display: grid;
    background-color: rgb(255, 0, 76);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, minmax(150px, 200px));
}

.container{
    display: grid;
    position: relative;
    gap:1rem;
    background-color: blanchedalmond;
    grid-template-columns: 2fr 5fr;
}

.addBook{
    background-color: aqua;
}

.bookHolder{
    border-radius: 20px;
}

.row{
    display: flex;
}

input{
    
}

.inputGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 5px;
}